#main-nav {
  background-color: #E3242B;
  overflow: hidden;
}
#nav-contents {
  float: left;
  width: 100%;
  position: relative;
}
#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-nav ul li a:hover {
  background-color: #000;
}
h2 {
  font-size: 32px;
  text-align: center;
  background-color: #D9381E;
  color: #FFFFFF;
}
h3 {
  text-align: center;
  color: #FFFFFF;
  background-color: #D9381E;
}
p {
  font-family: "Serif";
  color: #000000;
}
#resume {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20191014/pngtree-red-color-stage-background-image_319342.jpg");
}
#information {
  padding: 5px;
  margin-left:100px;
  margin-right:100px; 
  margin-top:20px;
  margin-bottom:20px;
  text-align: center;
  border-style: solid;
  border-color: #000000;
}
#information:hover {
  transform: rotate(0.5turn);
}
#accomplishments {
  padding: 5px;
  margin-left:100px;
  margin-right:100px; 
  margin-top:20px;
  margin-bottom:20px;
  text-align: left;
  border-style: solid;
  border-color: #000000;
}
#accomplishments:hover {
  transform: rotate(0.5turn);
}
#languages {	
  padding: 5px;
  margin-left:100px;
  margin-right:100px; 
  margin-top:20px;
  margin-bottom:20px;
  text-align: left;
  border-style: solid;
  border-color: #000000;
}
