#main-nav {
  background-color: #FFCCCB;
  overflow: hidden;
  position: relative;
}
#navbar-contents {
  position:relative;
  padding: 2px;
  float: right;
}
#main-nav ul{
  display: block;
  position: relative;
  padding: 1px;
  margin: 1px;
  float: left;
  color: #FFCCCB;
}
#main-nav ul li{
  position: relative;
  display: block;
  font-family: Serif;
  float: left;
  right: 50%;
  padding: 1px;
}
#main-nav ul li a{
  display: block;
  position: relative;
  padding: 1px;
  font-family: Serif;
  color: #D9381E;
} 
#main-nav ul li a:hover {
  text-decoration: underline dotted;
  background-color: #E3242B;
}
h2 {
  font-size: 32px;
  text-align: center;
  background-color: #D9381E;
  color: #000000;
}
h3 {
  text-align: center;
  color: #000000;
  background-color: #D9381E;
}
p {
  font-family: "Serif";
  color: #000000;
}
#resume {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20191014/pngtree-red-color-stage-background-image_319342.jpg");
}
#information {
  padding: 5px;
  margin-left:100px;
  margin-right:100px; 
  margin-top:20px;
  margin-bottom:20px;
  text-align: center;
  border-style: solid;
  border-color: #000000;
}
#information:hover {
  transform: rotate(0.5turn);
}
#accomplishments {
  padding: 5px;
  margin-left:100px;
  margin-right:100px; 
  margin-top:20px;
  margin-bottom:20px;
  text-align: left;
  border-style: solid;
  border-color: #000000;
}
#accomplishments:hover {
  transform: rotate(0.3turn);
}
#languages {	
  padding: 5px;
  margin-left:100px;
  margin-right:100px; 
  margin-top:20px;
  margin-bottom:20px;
  text-align: left;
  border-style: solid;
  border-color: #000000;
}
